#zhesi {
    position: fixed;
    background-color: #4aaaa5;
    border: auto solid #cccccc;
    width: 250px;
    height: 80px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-align: center;
    float: center;
    border-bottom: 0%;
    top: 10;
    position: fixed;
}

#index, #contact, #portfolio {
    text-align: left;
    float: right;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
}

#header {
    height: 5%;
    border-bottom: #ffffff;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 960px;
    margin: 0px auto;
    padding: 10%;
    top: 0;

}

#haha {
    color: #4aaaa5;
    font-size: 25px;
    margin-left: 20px;
    border-bottom: 5px solid #dddddd;
}

.hehe {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#image {
    width: 270px;
    height: 200px;
    float: left;
}

#content {
    color: #cccccc;
    background-color: #dddddd;
    float: center;
}

.container {
    background-color: #dddddd;
}

#main {
    border: 5px solid #dddddd;
    background-color: #ffffff;
    height: 400px;
    width: 600px;
    margin: 10% 25%;
    padding: #dddddd;
    color: #666666;
    text: justify;
    position: fixed;
    bottom: 20;
}


#haha {
    border-bottom: 400px #cccccc;
    font-family: 'Roboto', sans-serif;
}

.white {
    border: 5px solid #cccccc;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #dddddd;
    text-align: center;
    padding-top: #4aaaa5;
}

#long {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
    float: left;
}

textarea {
    width: 80%;
    height: 20%;
}

button {
    background-color:  #4aaaa5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: 0;
}

.column {
    float:left;
    width: 33.33%;
    height: 20%;
    padding: 5px;
    position: relative;
    text-align: center;
    color: #ffffff;

}

.row {
    content: "";
    clear: both;
    display: table;
}

.fencing {
    position:absolute;
    bottom:10%;
    right:50%;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 40px;
    padding: 10%;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.dance {
    position:absolute;
    bottom:10%;
    right:50%;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 40px;
    padding: 10%;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.Northwestern {
    position:absolute;
    bottom:10%;
    right:50%;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 40px;
    padding: 10%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.singing {
    position:absolute;
    bottom:10%;
    right:50%;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 40px;
    padding: 10%;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.Chess {
    position:absolute;
    bottom:10%;
    right:50%;
    text-align: center;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-width: 40px;
    padding: 10%;
    align-content: center;
    font-family: 'Roboto', sans-serif; 
    display: inline-block;
}